<br> 
<div class="container">
<br> 
                <br>
          
<h2 class="center">An absolutely privileged location
</h2>
          <br> <br>
<div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="402" id="gmap_canvas" src="https://maps.google.com/maps?q=H%C3%B4tel%20Suisse%2C%20Square%20of%20Cornavin%2C%20Geneva%2C%20Switzerland&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{position:relative;text-align:right;height:502px;width:1080px;}.gmap_canvas {overflow:hidden;background:none!important;height:502px;width:1080px;}</style></div>
    </div> 
    
      </main>
<!--**********************************************************************-->
<footer class="footer mt-auto py-3 bg-primary">
  <div class="container">
    <span class="text-muteds">
          Las Ramblas, 117 08002 - Barcelona. Spain <br>
T. +34 933019400 - reservas@royalramblashotel.com - info@royalramblashotel.com<abbr title="attribute">attr</abbr>.</span>
  </div>
</footer>