{% extends 'base.html' %}
{% block content %}
    <section id="gallery">
  <div class="container-fluid">
    <div class="row">
          <div class="col-4 nopadding1">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/royal-ramblas-galeria02.jpg" alt="Card image">     
         </div>
           <div class="col-8 nopadding1">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/69513_v21.jpg" alt="Card image">     
         </div>
           <div class="col-4 nopadding">
          <img style="height: 350px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/695051.jpg" alt="Card image">     
         </div>
         <div class="col-4 nopadding">
             <div  class="center" ; style="height: 350px; width: 100%; display: block;" ><br><h1>Royal</h1><br><blockquote class="blockquote text-center">
              <p class="mb-0 padding">Royal  is known for its <br> privileged location in the heart <br>of Las Ramblas, the most popular<br> and well-known boulevard in the<br> Barcelona center.</p>
             </blockquote>
  <a href="{% url 'rooms' %}"> <button  type="button" class="btn btn-outline-primary">Booking Now </button>  </a>          </div>      
         </div>
           <div class="col-4 nopadding">
          <img style="height: 350px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/royal-ramblas-galeria-04.JPG" alt="Card image">
         </div>
                <div class="col-4 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/royal-ramblas-galeria-07.jpg" alt="Card image">     
         </div>
                <div class="col-4 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/695062.jpg" alt="Card image">     
         </div>
                <div class="col-4 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/695171.jpg" alt="Card image">     
         </div>
                <div class="col-3 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/royal-ramblas-galeria-08.jpg" alt="Card image">     
         </div>
                <div class="col-6 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/royal-ramblas-galeria-09.JPG" alt="Card image">     
         </div>
                <div class="col-3 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/royal-ramblas-galeria-10.JPG" alt="Card image">     
         </div>
           <div class="col-4 nopadding">
          <img style="height: 350px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/royal-ramblas-galeria-11.jpg" alt="Card image">     
         </div>
         <div class="col-4 nopadding">
             <div class="center" ;  style="height: 350px; width: 100%; display: block; " ><br><h1>Royal</h1><br><blockquote class="blockquote text-center">
              <p class="mb-0 padding">Royal  is known for its <br> privileged location in the heart <br>of Las Ramblas, the most popular<br> and well-known boulevard in the<br> Barcelona center.</p>
              </blockquote>
          <a href="{% url 'rooms' %}"> <button  type="button" class="btn btn-outline-primary">Booking Now </button>  </a>       
         </div>      
         </div>
           <div class="col-4 nopadding">
          <img style="height: 350px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/royal-ramblas-galeria-12.jpg" alt="Card image">
         </div>
              <div class="col-6 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/royal-ramblas-galeria-15.jpg" alt="Card image">
         </div>
              <div class="col-6 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/royal-ramblas-galeria-14.jpg" alt="Card image">     
         </div>
                   <div class="col-12 nopadding">
          <img style="height: 400px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/royal-ramblas-galeria-17.jpg" alt="Card image">
         </div>
    </div>
  </div>
</section>
{% endblock%}