{% extends 'base.html' %}
{% block content %}
<section id="showcase1">
    <h1 style = "font-size: 200% ; " ; >Services</h1>
    <p>At Your Services</p>
</section>	
  <section id="gallery">
  <div class="container-fluid">
    <div class="row">
         <div class="col-4 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/services/royal-ramblas-wifi-01.jpg" alt="Card image">
         </div>
                <div class="col-4 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/services/royal-ramblas-wifi-02.jpg" alt="Card image">     
         </div>
                <div class="col-4 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/services/royal-ramblas-wifi-03.jpg" alt="Card image">     
         </div>
        <!--        #############################################################################################-->
                    <div class="col-4 nopadding color1">
          <div style="height: 150px; width: 100%; display: block; padding-top: 20px ;font-size: 110% ; " >Free Wi-FI Basic Internet connection in all areas and rooms.</div> 
         </div>
                   <div class="col-4 nopadding  ">
          <div style="height: 150px; width: 100%; display: block; padding-top: 20px ;font-size: 110% ; " >24 hours Reception Desk

Concierge Service:  City Maps, restaurants, transports, places to stay, etc.</div> 
         </div>
                 <div class="col-4 nopadding color1"  >
          <div style="height: 150px; width: 100%; display: block; padding-top: 20px ; font-size: 110% ;" >Handicap accessible rooms

Laundry/Iron service</div> 
         </div>
<!--        #############################################################################################-->
                <div class="col-4 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/services/royal-ramblas-personal-attention-02.jpg" alt="Card image">     
         </div>
                <div class="col-4 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/services/royal-ramblas-personal-attention-03.jpg" alt="Card image">     
         </div>
                <div class="col-4 nopadding">
          <img style="height: 300px; width: 100%; display: block;" src="https://www.royalramblashotel.com/assets/img/gallery/695062.jpg" alt="Card image">     
         </div>
        
                   <div class="col-4 nopadding  ">
          <div style="height: 200px; width: 100%; display: block; padding-top: 20px ; font-size: 110% ; " >Premium service with extra cost at your disposal.</div> 
         </div>
                 <div class="col-4 nopadding color1"  >
          <div style="height: 200px; width: 100%; display: block; padding-top: 20px ; font-size: 110% ;" >Luggage Room

Limited room service from 13-16h and 20-23h

Private 24h parking car in the same building at extra charge</div> 
         </div>
                    <div class="col-4 nopadding  ">
          <div style="height: 200px; width: 100%; display: block; padding-top: 20px ; font-size: 110% ; " >Lounge Royal:a relaxing room with 56’ LCD TV overlooking Las Ramblas with bar service

Bar-Cafetería-Pizzeria La Poma: 10% discount only for our guests

Business Centre service with free Wifi access and printer</div> 
         </div>
     
      </div>
      </div>
     
</section>
      <div class="container marketing">
          <br>
          
<h2 class="center">Our guests talk about us</h2>
          <br> <br>

 <div class="row">
    

      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="https://www.royalramblashotel.com/assets/img/tripadvisor/Screenshot_10.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>"Great customer service and location, friendly"</h2>
        <p>Staff were really friendly, helped get tickets for. Flamenco Show. Incredible location. Good breakfast. Rooms were small but well appointed. Highly recommended for single travellers. Convenient for hop on hop off bus stop.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="https://www.royalramblashotel.com/assets/img/tripadvisor/Screenshot_11.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>"My birthday in Royal"</h2>
        <p>Location! Location! LOCATION! You are in the middle of everything. The staff was friendly, hotel was super clean, breakfast is okay and very expensive, we had breakfast elsewhere. loved my stay there.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="https://www.royalramblashotel.com/assets/img/tripadvisor/avatar0531.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>"Excellent"</h2>
        <p>Excellent location, great breakfast, helpful staff, good room, great price. Ideal choice for a quick weekend break. No noise from the Ramblas, despite room facing onto the street. View from the restaurant for breakfast is superb with floor to ceiling views of the street just below.</p>
      </div><!-- /.col-lg-4 -->
    </div>
          <hr><!-- /.row -->
    </div> 
{% endblock %}